[Desktop Entry]
Name=Tabulite
Comment=View and filter tabular data
Exec=tabulite %F
Icon=tabulite
Terminal=false
Type=Application
Categories=Office;Spreadsheet;
MimeType=text/csv;application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;
StartupNotify=true
